BiLSTM-CNN:
Requirements:
Python==3.X.X
Tensorflow==1.13.1
Keras==2.1.6
scipy==1.4.1

BiLSTM-Attention:
Requirements:
Python==3.X.X
Tensorflow==1.13.1
Keras==2.1.6
scipy==1.4.1

Bert Model:
Requirements:
pandas==0.24.2
torch==1.2.0
numpy==1.16.4
transformers==2.0.0
